# Environment
.env
*.env.local

# Backend (Maven)
apps/cloud-backend/target/
apps/edge-backend/target/
*.class

# Flutter
packages/shared-frontend/.dart_tool/
packages/shared-frontend/.flutter-plugins
packages/shared-frontend/.flutter-plugins-dependencies
packages/shared-frontend/build/
packages/shared-frontend/.packages
apps/cloud-frontend/.dart_tool/
apps/cloud-frontend/build/
apps/edge-frontend/.dart_tool/
apps/edge-frontend/build/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.DS_Store

# Docker
*.tar

# Logs
logs/
*.log
*.pem
